{% load static %}

<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
        <div class="contact-info float-left">
            <i class="icofont-envelope"></i><a href="mailto:contact@example.com">refatuli7@gmail.com</a>
            <i class="icofont-phone"></i> +880 01796 144625
        </div>
        <div class="social-links float-right">
            <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
            <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
            <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
            <a href="#" class="skype"><i class="icofont-skype"></i></a>
            <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
        </div>
    </div>
</section>

<!-- ======= Header ======= -->
<header id="header">
    <div class="container" >

        <div class="logo float-left ">
            <h1 class="text-light"><a href="/"><span>BD ESport</span></a></h1>
        </div>

        <nav class="nav-menu float-right d-none d-lg-block ">
            <ul >
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="#about">Prize Pool</a></li>
                <li><a href="#services">Teams</a></li>
                {% if request.user.is_authenticated %}
                <li> <a href="/logout"> {{request.user}} | logout</a></li>
                {% else %}
                <li> <a href="/accounts/login/"> Login</a></li>
                {% endif %}


            </ul>

        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->
