test
<br>
View: {{x}}

<hr>

<h5>Title: {{getData}}</h5>
<h5>ID: {{getData.id}}</h5>

<p>
    Error Found for testing [Log: 5].<br>
    AttributeError: module 'django.contrib.admin.sites' has no attribute 'register'<br>
    Downloading Ref: https://github.com/divanov11/proshop_django .
    It contains 		Django-ecommerce with React. Built by splinted Views.
    Project Url:
    C:\Users\Cicada3301\Desktop\BD ESPORT FINAL V1\03 Resources&Reference\01 Contains-DjangoProject-SolutionTo-Log-5_of_ESPORT_V1._0.1_23.09.21\proshop_django
    <br>
    Solved…! Error Cause: IntelliJ IDEA Software Read Issue.<br>
    Line: from DOTA2_APP.models import *
</p>
<hr>