{% load static %}


<!--Top Bar BEGIN-->

<!--<div class="top-bar">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-7 hidden-sm hidden-xs">-->
<!--                <div class="top-contacts">-->
<!--                    <ul class="socials">-->
<!--                        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>-->
<!--                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
<!--                        <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>-->
<!--                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>-->
<!--                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>-->
<!--                    </ul>-->
<!--                    <ul class="contacts">-->
<!--                        <li class="phone"><i class="fa fa-phone-square" aria-hidden="true"></i>+61 3 8376 6284</li>-->
<!--                        <li class="skype"><a href="callto:team.skype"><i class="fa fa-skype" aria-hidden="true"></i>team.skype</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-5">-->
<!--                <div class="top-language">-->
<!--                    <ul class="list">-->
<!--                        <li class="dropdown">-->
<!--                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static 'frontend/' %}images/common/en-flag.png" alt="selected language">EN</a>-->
<!--                            <ul class="dropdown-menu">-->
<!--                                <li>-->
<!--                                    <a href="#"><img src="{% static 'frontend/' %}images/common/fr-flag.png" alt="language">FR</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#"><img src="{% static 'frontend/' %}images/common/en-flag.png" alt="language">EN</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#"><img src="{% static 'frontend/' %}images/common/ru-flag.png" alt="language">RU</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                    <div class="top-search">-->
<!--                            <form>-->
<!--                                    <input type="text" name="text">-->
<!--                                    <button><i class="fa fa-search" aria-hidden="true"></i></button>-->
<!--                            </form>-->
<!--                    </div>-->
<!--                    <div class="clear"></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--Top Bar WRAP Ends-->

<!--MAIN MENU WRAP BEGIN-->
<div class="main-menu-wrap sticky-menu">
    <div class="container">
        <a href="/" class="custom-logo-link"><img src="{% static 'frontend/'%}images/soccer/logo.png" alt="BDESPORT" class="custom-logo"></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#team-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <nav class="navbar">
            <div class="collapse navbar-collapse" id="team-menu">
                <ul class="main-menu nav">
                    <li class="">
                        <a href="/"><span>Home</span></a>
                        <!-- <ul>
                            <li><a href="amateurs.html"><span>Amateures Home</span></a></li>
                        </ul> -->
                    </li>
                    <li>
                        <a href="#"><span>Tournaments</span></a>
                        <ul>
                            <li>
                                <a href="standing-cup.html"><span>DOTA 2<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></a>
                                <ul>
                                    {%for t in navbar_Tournament%}
                                    <li><a href="{% url 'Tournament_Page' t.slug %}"><span>{{t.title}}</span></a></li>
                                    {%endfor%}
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="staff.html"><span>Team</span></a>
                        <ul>
                            <li><a href="player.html"><span>player first page</span></a></li>
                            <li><a href="player-second-page.html"><span>player second page</span></a></li>
                        </ul>
                    </li>
                    <li><a href="contacts.html"><span>Contact</span></a></li>
                    <li>
                        {% if request.user.is_authenticated %}
                        <a href="#"><img src="{% static 'frontend/' %}images/common/display_for_user_icon.png" alt="language"> {{request.user}}</a>
                        {%else%}
                        <a href="#"><img src="{% static 'frontend/' %}images/common/display_for_user_icon.png" alt="language"> Profile </a>

                        {%endif%}
                        <ul>
                        {% if request.user.is_authenticated %}
                            <li><a href="#"><span>View Profile</span></a></li>
                            <li><a href="/logout"><span>Logout</span></a></li>
                        {%else%}
                            <li><a href="/accounts/login/"><span>Login</span></a></li>
<!--                            <li><a href="/register/"><span>SignUp</span></a></li>-->
                        {%endif%}
                        </ul>
                    </li>
                </ul>
            </div>       
        </nav>
    </div>
</div>
<!--MAIN MENU WRAP END-->