{% load static %}
<script type="text/javascript" src="{% static 'frontend/js/library/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/library/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/library/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/library/jquery.sticky.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/library/jquery.jcarousel.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/library/jcarousel.connected-carousels.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/library/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/library/progressbar.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'frontend/js/library/jquery.bracket.min.js' %}"></script>-->
<script type="text/javascript" src="{% static 'frontend/js/library/chartist.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/library/Chart.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/library/fancySelect.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/library/isotope.pkgd.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/library/imagesloaded.pkgd.js' %}"></script>

<script type="text/javascript" src="{% static 'frontend/js/jquery.team-coundown.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/matches-slider.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/header.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/matches_broadcast_listing.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/news-line.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/match_galery.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/main-club-gallery.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/product-slider.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/circle-bar.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/standings.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/shop-price-filter.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/timeseries.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/radar.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/slider.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/preloader.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/diagram.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bi-polar-diagram.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/label-placement-diagram.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/donut-chart.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/animate-donut.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/advanced-smil.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/svg-path.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/pick-circle.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/horizontal-bar.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/gauge-chart.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/stacked-bar.js' %}"></script>

<script type="text/javascript" src="{% static 'frontend/js/library/chartist-plugin-legend.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/library/chartist-plugin-threshold.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/library/chartist-plugin-pointlabels.js' %}"></script>

<script type="text/javascript" src="{% static 'frontend/js/treshold.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/visible.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/anchor.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/landing_carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/landing_sport_standings.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/twitterslider.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/champions.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/landing_mainnews_slider.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/video_slider.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/footer_slides.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/player_test.js' %}"></script>

<script type="text/javascript" src="{% static 'frontend/js/main.js' %}"></script>
    
<script type="text/javascript" src="{% static 'frontend/dev-assets/demo-switcher.js' %}"></script>



<script type="text/javascript" src="{% static 'FinalBracket_assets/jquery-1.6.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'FinalBracket_assets/jquery.bracket.min.js' %}"></script>

